# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Google Cloud Credentials
google-credentials.json
*.json

# Env Files
.env
.env.*

# Server Specific
server/data
server/server.log
server/node_modules

# Audio Cache (Local Dev)
bamboozle_audio_cache
tmp/bamboozle_audio_cache
